#main-main {
  .first {
    height: 91px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 30%, rgba(44, 48, 122, 0.8) 100%);
    border-bottom: 1px solid @blue;
    .logo {
      display: inline-block;
      width: 651px;
      height: 92px;
      background: url(../../images/main/logo.png);
    }
  }
  .second {
    margin: 15px 115px;
    .side-bar {
      display: inline-block;
      width: 15%;
      padding-right: 15px;
      .menu {

      }
    }
    .main-content {
      display: inline-block;
      float: right;
      width: 85%;

    }
  }
}
