#login {
  .fill;
  .box {
    .fill;
    .logo {
      width: 609px;
      height: 60px;
      background: url(../../images/login/logo.png) no-repeat;
    }
    .pannel {
      section {
        position: relative;
        top: 80px;
      }
      top:200px;
      width: 609px;
      height: 474px;
      background: url(../../images/login/pannel.png) no-repeat;
    }
  }
}
