#admin-log {
  .path{
    display: block;
    margin-bottom: 10px;
  }
  .filter {
    display: block;
    height: 60px;
    background: rgba(255, 255, 255, 0.1);
    .date {
      float: left;
      display: inline-block;
      margin: 15px auto 15px 20px;
      .split {
        color: @white;
        margin: 0 8px;
        font-size: 12px;
      }
      button {
        margin-left: 18px;
      }
    }
  }
  .container {
    display: block;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.1);
  }
}
